@import "../../../utils/styles.scss";

nav {
    @include flex-vertical(center, center, 1rem);
    background-color: $BG_DARK;
    padding: 1rem;

    a {
        @include flex-horizontal(center, center, 1rem);

        h1 {
            margin: 0;
        }

        img {
            width: 3rem;
        }
    }

    div {
        width: 100%;
        @include flex-horizontal(space-evenly, center, 1rem);

        a {
            color: white;
            text-decoration: none;
        }

        a:hover, a:focus {
            text-decoration: underline;
        }
    }

    div:has(img) {
        justify-content: center;
    }
}

nav div a.selected {
    color: $PRIMARY_LIGHT;
    text-decoration: underline;
}
