<div id="aboutus">
  <h1>WE ARE</h1>
  <p>
    A system to manage the inventory and sales of a company. Just access your
    account and easily control the stock in your store and the information about
    your sales.
  </p>
  <h1>OUR MISION</h1>
  ,
  <p>
    With a click on the screen simplify all processes to manage inventories in
    enterprises with large and complex businness models
  </p>
  <h1>OUR VISION</h1>
  <p>
    Be the number one app in Mexico for inventory management and be recognised
    globally for our commitment in developing the best app
  </p>
</div>
