<div id="ipadimg">
  <p>Do you want to track your stock easily and don't know how?</p>
  <p>Stock Master is your best option</p>
</div>

<div id="main">
  <div class="container">
    <h2>STOCK MASTER</h2>
    <p>
      Stock Master is a comprehensive system designed to streamline the
      management of inventory and sales for businesses of all sizes. With an
      intuitive interface, you can effortlessly access your account to monitor
      stock levels, track sales performance, and gain valuable insights into
      your store's operations. Whether you're managing a small shop or a large
      enterprise, Stock Master empowers you to take full control of your
      inventory and sales data with ease and efficiency.
    </p>
    <div class="features">
      <div class="column">
        <p>Easy to handle</p>
        <img src="../../../../assets/handle.png" alt="" />
      </div>
      <div class="column">
        <p>Acces 24/7</p>
        <img src="../../../../assets/access.png" alt="" />
      </div>
      <div class="column">
        <p>Easy to install</p>
        <img src="../../../../assets/install.png" alt="" />
      </div>
      <div class="column">
        <p>No extra costs</p>
        <img src="../../../../assets/costs.png" alt="" />
      </div>
      <div class="column">
        <p>Total security</p>
        <img src="../../../../assets/security.png" alt="" />
      </div>
    </div>
    <p>
      Our goal is help you to keep track of your business products with the
      minimum effort. There are many competitors in the market, but we have some
      advantages that distinguish us:
    </p>
    <div class="row">
      <p>
        Keep your business growing while you trust stock master to manage it
        easily.
      </p>
      <img src="../../../../assets/grow.png" alt="" />
    </div>
    <div class="row">
      <img src="../../../../assets/performance.png" alt="" />
      <p>
        Stock Master offers you the same performance regardless of the size of
        your business.
      </p>
    </div>
    <div class="row">
      <p>
        Stock Master is always available for you to manage your business
        whenever you want.
      </p>
      <img src="../../../../assets/available.png" alt="" />
    </div>
    <div class="row">
      <img src="../../../../assets/secure.png" alt="" />
      <p>
        Trust that Stock Master keeps your data and that of your business
        completely secure.
      </p>
    </div>
  </div>
</div>
