$BG_DARK: #020409;
$BG_MID: #0D1117;
$BG_LIGHT: #151B23;
$BORDER: #9198A1;
$PRIMARY_DARK: #131D2F;
$PRIMARY_MID: #3984EA;
$PRIMARY_LIGHT: #99C8FD;
$SECONDARY_DARK: #664a85;
$SECONDARY_LIGHT: #987BB9;
$SUCCESS: #228636;
$WARNING: #F1E05A;
$DANGER: #BD3839;
