$BG_DARK: #020409;
$BG_MID: #0D1117;
$BG_LIGHT: #151B23;
$BORDER: #9198A1;
$PRIMARY_DARK: #131D2F;
$PRIMARY_MID: #3984EA;
$PRIMARY_LIGHT: #99C8FD;
$SECONDARY_DARK: #23132f;
$SECONDARY_MID: #6b39ea;
$SECONDARY_LIGHT: #e199fd;
$SUCCESS_DARK: #228636;
$SUCCESS_LIGHT: #99fd9e;
$WARNING: #F1E05A;
$DANGER_DARK: #BD3839;
$DANGER_LIGHT: #fdaa99;

@mixin flex-horizontal($horizontal-distribution, $vertical-distribution, $gap: 0) {
    display: flex;
    flex-direction: row;
    justify-content: $horizontal-distribution;
    align-items: $vertical-distribution;
    gap: $gap;
}

@mixin flex-vertical($horizontal-distribution, $vertical-distribution, $gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $vertical-distribution;
    align-items: $horizontal-distribution;
    gap: $gap;
}

@mixin icon-style($size, $color) {
    width: $size;
    height: $size;
    font-size: $size;
    color: $color;
}
