@import "../../../utils/styles.scss";

footer {
    @include flex-horizontal(space-evenly, center, 1rem);
    background-color: $BG_DARK;
    padding: 1rem;

    div {
        @include flex-vertical(center, center, 1rem);

        p {
            margin: 0;
            text-transform: uppercase;
        }

        a:hover, a:focus {
            text-decoration: underline;
        }

        img {
            object-fit: cover;
            width: 2rem;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 480px) {
    footer {
        align-items: flex-start;
        gap: 2rem;
    }
}
