<footer>
    <div>
        <p>Pricing</p>
        <div>
            <a>Plans</a>
            <a>Agreement</a>
            <a>FAQ</a>
        </div>
    </div>
    <div>
        <p>Documentation</p>
        <div>
            <a>API docs</a>
            <a>Community</a>
        </div>
    </div>
    <div>
        <p>About us</p>
        <div>
            <a>Our history</a>
            <a>Our services</a>
        </div>
    </div>
    <div>
        <p>Contact us</p>
        <div>
            <a href="https://instagram.com" target="_blank">
                <img src="../../../../assets/instagram.png" alt="Instagram">
            </a>
            <a href="https://facebook.com" target="_blank">
                <img src="../../../../assets/facebook.png" alt="Facebook">
            </a>
            <a href="https://whatsapp.com" target="_blank">
                <img src="../../../../assets/whatsapp.png" alt="Whatsapp">
            </a>
            <a href="https://gmail.com" target="_blank">
                <img src="../../../../assets/gmail.png" alt="Gmail">
            </a>
        </div>
    </div>
</footer>
